@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgba(7, 8, 12) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

header div {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 4.5rem 0;
    color: white;
}

footer a {
    border-bottom: 1px solid rgb(255, 152, 0);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}

form input {
  background: rgba(7, 8, 12);
  border: 1px solid #20812c;
  color: #fff;
  padding: 5px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: rgb(232, 230, 227);
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    background: rgb(48, 52, 54);
    font-size: 1.1rem;
}

.detail {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: rgb(232, 230, 227);
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    background: rgb(48, 52, 54);
    font-size: 1.1rem;
}

.detail h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.profile h2 {
    color: rgb(74 222 128);
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.profile strong {
    color: rgb(74 222 128);
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.actions button {
    padding: 0.5em;
    border-radius: 5px;
    margin: 10px 0;
}

.actions button:first-child {
    background-color: rgb(12, 110, 53);
}

.actions button:last-child {
    background-color: rgb(221, 55, 46);
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2.5rem;
}

.pagination button {
    background-color: #20812c;
    padding: 0.45rem;
    border-radius: 5px;
    margin: 10px 0;
}